
<div class="top-nav ">
    <ul class="nav pull-right top-menu">
        <li>
            <input type="text" class="form-control search" placeholder="Search">
        </li>
        <!-- user login dropdown start-->
@if(Context.User.Identity.IsAuthenticated)
{
        <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <span class="fa fa-user fa-2x"></span>
                <span class="username">@User.Identity.Name</span>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu extended logout">
                <div class="log-arrow-up"></div>
                <li><a href="#"><i class=" fa fa-user"></i>Perfil</a></li>
                <li><a asp-controller="Account" asp-action="ChangePassword"><i class="fa fa-random"></i> Cambiar credenciales</a></li>
                <li><a asp-controller="Account" asp-action="Lockout"><i class="fa fa-key"></i> Salir</a></li>
            </ul>
        </li>
}
    </ul>
</div>