@{
    ViewData["Title"] = "Accesso denegado";
}

<div class="wrapper">
    <section class="panel animated slideInLeft">
       
        <div class="panel-body">
            <h2 class="text-danger">@ViewData["Title"]</h2>
            <h4 class="text-danger">Tu no tienes acceso a este resurso</h4>
        </div></section></div>
