@model mvcIpsa.Models.AccountViewModels.ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper">
    <section class="panel animated slideInUp">
        <header class="panel-heading">
            Cambiar contraseña
        </header>
        <div class="row">
            <div class="col-md-4  col-md-offset-4">
                <form asp-action="ChangePassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="username" value="@User.Identity.Name" />
                    <h4><span class="fa fa-user"></span> @User.Identity.Name</h4>                 
                    <div class="form-group">
                        <label asp-for="OldPassword" class="control-label"></label>
                        <input asp-for="OldPassword" class="form-control" placeholder="Contraseña anterior"/>
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewPassword" class="control-label"></label>
                        <input asp-for="NewPassword" class="form-control" placeholder="Nueva contraseña"/>
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirmar contraseña" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-primary btn-block" />
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </div>
                </form>
            </div>
        </div>      
    </section>
</div>

