@using mvcIpsa.DbModel
@model Profile
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<environment include="Development">
    <link href="~/css/selectize.css" rel="stylesheet">
</environment>
<environment exclude="Development">
    <link href="~/css/selectize.css" rel="stylesheet">
</environment>
<div class="wrapper">
    <section class="panel animated slideInLeft">
        <header class="panel-heading">
            Crear nuevo usuario
        </header>
        <form method="post" asp-controller="Profile" asp-action="Create" class="animated bounceInLeft">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-4">
                        <div class="form-group">
                            <label asp-for="Username"></label>
                            <div class="iconic-input">
                                <i class="fa fa-user"></i>
                                <input asp-for="Username" class="form-control ipsa-requeried" placeholder="Username" data-validation="La contraseña es requerida" />
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Nombre"></label>
                            <div class="iconic-input">
                                <i class="fa fa-user"></i>
                                <input asp-for="Nombre" class="form-control ipsa-requeried" placeholder="Nombre" data-validation="La contraseña es requerida" />
                                <span asp-validation-for="Nombre" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Apellido"></label>
                            <div class="iconic-input">
                                <i class="fa fa-user"></i>
                                <input asp-for="Apellido" class="form-control ipsa-requeried" placeholder="Apellidos" data-validation="La contraseña es requerida" />
                                <span asp-validation-for="Apellido" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Correo"></label>
                            <div class="iconic-input">
                                <i class="fa fa-envelope-o"></i>
                                <input asp-for="Correo" class="form-control ipsa-requeried" placeholder="Correo" data-validation="La contraseña es requerida" />
                                <span asp-validation-for="Correo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="IdcajaNavigation.Description"></label>
                            <div class="iconic-input">
                                <select asp-for="Idcaja" class="">
                                    @foreach (var caja in ViewBag.Cajas)
                                     {
                                        <option value="@caja.Id">@caja.Description</option>
                                     }
                                </select>
                                <span asp-validation-for="Idcaja" class="text-danger"></span>
                            </div>
                        </div>
                        <button class="btn btn-success btn-block" type="submit"><i class="fa fa-check"></i> Guardar </button>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="text-left invoice-btn">
                    <a class="btn btn-default" asp-action="index"> Regresar a la lista</a>
                    
                </div>
            </div>
        </form>
    </section>
</div>
@section Scripts
    {

    <environment include="Development">       
        <script src="~/js/selectize.js"></script>        
    </environment>
    <environment exclude="Development">       
        <script src="~/js/selectize.js"></script>         
    </environment>
        <script>
            var $cliente = $('#Idcaja').selectize({              
            });
        </script>
}
