@using mvcIpsa.DbModel
@model Profile
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="wrapper">
    <section class="panel animated slideInUp">
        <header class="panel-heading">
            Editar usuario
        </header>
        <form method="post" asp-controller="Profile" asp-action="Edit" class="animated bounceInLeft">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-5">
                        <input type="hidden" asp-for="Username" />
                        <label asp-for="Username"></label>
                        <h4> @Model.Username</h4>
                        <div class="form-group">
                            <label asp-for="Nombre"></label>
                            <div class="iconic-input">
                                <i class="fa fa-user"></i>
                                <input asp-for="Nombre" class="form-control ipsa-requeried" placeholder="Nombre" data-validation="La contraseña es requerida" />
                                <span asp-validation-for="Nombre" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Apellido"></label>
                            <div class="iconic-input">
                                <i class="fa fa-user"></i>
                                <input asp-for="Apellido" class="form-control ipsa-requeried" placeholder="Apellidos" data-validation="La contraseña es requerida" />
                                <span asp-validation-for="Apellido" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Correo"></label>
                            <div class="iconic-input">
                                <i class="fa fa-envelope-o"></i>
                                <input asp-for="Correo" class="form-control ipsa-requeried" placeholder="Correo" data-validation="La contraseña es requerida" />
                                <span asp-validation-for="Correo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Idcaja"></label>
                            <div class="iconic-input">
                                <select asp-for="Idcaja" class="form-control">
                                    @foreach (var caja in ViewBag.Cajas)
                                    {
                                        <option value="@caja.Idcaja">@caja.Description</option>
                                    }
                                </select>

                                <span asp-validation-for="Idcaja" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="text-center invoice-btn">
                    <a class="btn btn-default btn-lg" asp-action="index"> Regresar</a>
                    <button class="btn btn-success btn-lg" type="submit"><i class="fa fa-check"></i> Guardar </button>
                </div>
            </div>
        </form>
    </section>
</div>
