
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles
    {
    <environment include="Development">
        <link href="~/lib/fileinput/css/fileinput.css" asp-append-version="true" rel="stylesheet">
        <link href="~/lib/material-design-lite/material.css" rel="stylesheet" />
        <link href="~/css/selectize.css" rel="stylesheet">
        <link href="~/lib/dialog-polyfill/dialog-polyfill.css" rel="stylesheet" />
        <link href="~/css/checkbox.css" rel="stylesheet" />
        <link href="~/css/loading.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/notifIt.css" rel="stylesheet" />
        <!--<link rel="stylesheet" type="text/css" href="~/lib/dx/css/dx.spa.css" /> -->
        <link rel="stylesheet" type="text/css" href="~/lib/dx/css/dx.common.css" />
        <link rel="dx-theme" data-theme="generic.light" href="~/lib/dx/css/dx.light.css" />
    </environment>
    <environment exclude="Development">
        <link href="~/lib/fileinput/css/fileinput.css" asp-append-version="true" rel="stylesheet">
        <link href="~/lib/material-design-lite/material.min.css" rel="stylesheet" />
        <link href="~/css/selectize.css" rel="stylesheet">
        <link href="~/lib/dialog-polyfill/dialog-polyfill.css" rel="stylesheet" />
        <link href="~/css/checkbox.css" rel="stylesheet" />
        <link href="~/css/loading.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/notifIt.css" rel="stylesheet" />
        <!--<link rel="stylesheet" type="text/css" href="~/lib/dx/css/dx.spa.css" />-->
        <link rel="stylesheet" type="text/css" href="~/lib/dx/css/dx.common.css" />
        <link rel="dx-theme" data-theme="generic.light" href="~/lib/dx/css/dx.light.css" />
    </environment>
}
<style>
    .form-control {
        height: 34px;
    }

    .room-box {
        border: 1px solid #e7e7e7;
        background: #f7f8fa;
        padding: 5px;
        display: inline-block;
        width: 100%;
        margin-top: 10px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
    }

    .panel-body {
        padding: 5px;
        min-height: 130px;
    }

    .panel-footer {
        min-height: 60px;
    }

    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        padding-right: 5px;
        padding-left: 5px;
    }

    #btnDownloadInfo {
        height: 33px;
        margin: 0;
        min-width: 17px;
        padding: 0 15px;
        font-size: 10px;
        bottom: 0px;
        position: relative;
        float: right;
        top: 23px;
    }

    .table {
        margin-bottom: 5px;
    }

    .loader {
        border: 5px solid #f3f3f3;
        border-top: 5px solid #3498db;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 1s linear infinite;
        display: none;
        margin: auto;
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .percent {
        width: 40px;
        height: 40px;
        margin: auto;
        text-align: center;
    }

    .ready {
        width: 40px;
        height: 40px;
        margin: auto;
        text-align: center;
    }

    .tscroll {
        overflow-y: scroll;
        max-height: 470px;
    }

    .found {
        background-color: #45f0cd
    }

    .foundMixto{
        background-color: #8af3de
    }

    .foundOutDate {
        background-color: #51afff
    }

    .foundOutDateMixto {
        background-color: #7bc2ff
    }

    .foundManual {
        background-color: #a6d5ff
    }

    .duplicated {
        background-color: rgba(240, 86, 132, 0.68)
    }

    .duplicatedOutDate {
        background-color: rgba(245, 121, 158, 0.68)
    }

    .for-review {
        background-color: #b5e8b5
    }


    .matched {
        background-color: #41cac0;
        color: white;
    }


    .lbl-found {
        border-bottom: 3px solid #45f0cd
    }

    .lbl-foundOutDate {
        border-bottom: 3px solid #8af3de
    }

    .lbl-foundMixto {
        border-bottom: 3px solid #51afff
    }

    .lbl-foundOutDateMixto {
        border-bottom: 3px solid #7bc2ff
    }

    .lbl-foundManual {
        border-bottom: 3px solid #a6d5ff
    }

    .lbl-duplicated {
        border-bottom: 3px solid rgba(240, 86, 132, 0.68)
    }

    .lbl-duplicatedOutDate {
        border-bottom: 3px solid rgba(245, 121, 158, 0.68)
    }

    .lbl-pendient {
        border-bottom: 3px solid #ffffff
    }

    .resumen {
        font-size: 18px
    }

    .dx-widget {
        color: #333;
        font-weight: normal;
        font-size: 13px;
        font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Verdana, sans-serif;
        line-height: 1.35715;
    }

    .text-custom-16 {
        font-size: 13px;
    }
</style>

<div class="wrapper">
    <div class="row">
        <div class="col-md-6">
            <div class="panel">
                <div class="panel-body">
                    <form method="post" enctype="multipart/form-data">
                        <label for="input-b2" class="control-label ">Seleccione el estado de cuenta</label>
                        <input id="input-b2" name="input-b2" type="file" class="file" data-show-preview="false">
                    </form>
                    <div class="form-group col-lg-4">
                        <label for="customFormat" class="control-label">Formato de la fecha</label>
                        <select class="" id="customFormat">
                            <option value="">Seleccione un formato</option>
                        </select>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="loader DataCB"></div>
                    <div class="dx-viewport">
                        <div class="demo-container">
                            <div id="dxGridBanco"></div>
                        </div>
                    </div>
                    <!-- <div id="dvDataCB" class="tscroll"></div>                                        -->
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel">
                <div class="panel-body">
                    <div class="form-Year col-md-2">
                        <label for="Desde" class="control-label ">Año :</label>
                        <select id="Year" class="form-control Parameter" asp-items="ViewBag.Anios"></select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="Month" class="control-label ">Mes :</label>
                        <select class="form-control Parameter" id="Month">
                            <option value="1">Enero</option>
                            <option value="2">Febrero</option>
                            <option value="3">Marzo</option>
                            <option value="4">Abril</option>
                            <option value="5">Mayo</option>
                            <option value="6">Junio</option>
                            <option value="7">Julio</option>
                            <option value="8">Agosto</option>
                            <option value="9">Septiembre</option>
                            <option value="10">Octubre</option>
                            <option value="11">Noviembre</option>
                            <option value="12">Diciembre</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Desde" class="control-label ">Cuenta :</label>
                        <select class="select Parameter" id="BancosCuenta" asp-items="ViewBag.Cuentas">
                            <option value="">Seleccione una cuenta</option>
                        </select>
                    </div>
                    <div class="form-group col-md-1">
                        <button type="button" id="btnDownloadInfo" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect"><span class="fa fa-search"></span></button>
                    </div>
                    <div id="dvDataInfo">

                    </div>
                </div>
                <div class="panel-footer">
                    <div class="dx-viewport">
                        <div class="demo-container">
                            <div id="dxGridIecb"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="leyend">
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-3">
                    <i class="lbl-found" title="Conciliado automaticamente (Coinciden referencia,monto y fecha)">Encontrado F1</i>
                </div>
                <div class="col-md-3">
                    <i class="lbl-foundOutDate" title="Conciliado automaticamente(Coinciden referencia, fecha y el monto del banco coincide con la suma de los auxiliares )">Encontrado F2</i>
                </div>
                <div class="col-md-3">
                    <i class="lbl-foundMixto" title="Conciliado automaticamente (Coinciden referencia,monto)">Encontrado F3</i>
                </div>
                <div class="col-md-3">
                    <i class="lbl-foundOutDateMixto" title="Conciliado automaticamente(Coinciden referencia y el monto del banco coincide con la suma de los auxiliares )">Encontrado F4</i>
                </div>
                <div class="col-md-3">
                    <i class="lbl-foundManual" title="Existe dos o mas veces el registro en el auxiliar(Revisado por Referencia y monto)">Manual</i>
                </div>
                <div class="col-md-3">
                    <i class="lbl-duplicated" title="Existe dos o mas veces el registro en el auxiliar(Revisado por Referencia, monto y fecha)">Duplicado F1</i>
                </div>
                <div class="col-md-3">
                    <i class="lbl-duplicatedOutDate" title="Existe dos o mas veces el registro en el auxiliar(Revisado por Referencia y monto)">Duplicado F2</i>
                </div>
                <div class="col-md-3">
                    <i class="lbl-pendient" title="Pendiente de conciliar">Pendiente</i>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-4">
                    <button type="button" id="conciliar" disabled="disabled" onclick="_conciliarAutomatico()" class="conciliar mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"><span class="fa fa-exchange"></span> Conciliar</button>
                </div>
                <div class="col-md-4 col-md-offset-4">
                    <button type="button" class="pull-right mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" onclick="saveConciliacion()">Guardar datos</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <a asp-action="Index"><span class="fa fa-angle-left"></span> Regresar</a>
        <a asp-action="create" class="pull-right"><span class="fa fa-plus"></span> Nuevo</a>
    </div>
</div>
<dialog class="mdl-dialog" id="dialog-loading">
    <h4 class="mdl-dialog__title text-center">Buscando resultados</h4>
    <div class="mdl-dialog__content">
        <div class="loader" id="loaderConciliando"></div>
        <div class="percent" id="percentConciliando">0%</div>
        <div class="ready" id="ready">
            <div class="icon-element">
                <div class="dx-icon-check" style="font-size: 40px;color: #4CAF50;"></div>
            </div>
        </div>
        <div style="width: 100%;text-align: center">
            <label>Resolviendo <strong id="counting">0</strong> de <strong id="iterationTotal">0</strong></label>
            <div id="p1" class="mdl-progress mdl-js-progress"></div>
            <label>Items encontrados : <strong id="itemFounds">0</strong></label>
        </div>
    </div>
    <div class="mdl-dialog__actions">
        <button id="btnCloseDialog" type="button" class="mdl-button close" onclick="closeDialog()">Cerrar</button>

    </div>
</dialog>



@section Scripts
    {
    <environment include="Development">
        <script src="~/lib/fileinput/js/fileinput.js" asp-append-version="true"></script>
        <script src="~/js/selectize.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/notify.js"></script>
        <script src="~/lib/moment/moment.js"></script>
        <script src="~/lib/dialog-polyfill/dialog-polyfill.js"></script>
        <script src="~/lib/material-design-lite/material.min.js"></script>

        <script src="~/lib/dx/js/cldr.min.js"></script>
        <script src="~/lib/dx/js/event.min.js"></script>
        <script src="~/lib/dx/js/supplemental.min.js"></script>
        <script src="~/lib/dx/js/unresolved.min.js"></script>
        <script type="text/javascript" src="~/lib/dx/js/globalize.min.js"></script>
        <script type="text/javascript" src="~/lib/dx/js/message.min.js"></script>
        <script type="text/javascript" src="~/lib/dx/js/number.min.js"></script>
        <script type="text/javascript" src="~/lib/dx/js/currency.min.js"></script>
        <script type="text/javascript" src="~/lib/dx/js/date.min.js"></script>
        <script src="~/lib/dx/js/dx.all.js"></script>

        <script src="~/lib/numeral/src/numeral.js"></script>
        <script src="~/js/loading.js"></script>
        <script src="~/js/plugins.js"></script>
        <script src="~/js/notifIt.js"></script>
        <script src="~/js/conciliador.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/fileinput/js/fileinput.js" asp-append-version="true"></script>
        <script src="~/js/selectize.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/notify.js"></script>
        <script src="~/lib/moment/moment.js"></script>
        <script src="~/lib/dialog-polyfill/dialog-polyfill.js"></script>
        <script src="~/lib/material-design-lite/material.min.js"></script>
        <script src="~/lib/dx/js/cldr.min.js"></script>
        <script src="~/lib/dx/js/event.min.js"></script>
        <script src="~/lib/dx/js/supplemental.min.js"></script>
        <script src="~/lib/dx/js/unresolved.min.js"></script>
        <script type="text/javascript" src="~/lib/dx/js/globalize.min.js"></script>
        <script type="text/javascript" src="~/lib/dx/js/message.min.js"></script>
        <script type="text/javascript" src="~/lib/dx/js/number.min.js"></script>
        <script type="text/javascript" src="~/lib/dx/js/currency.min.js"></script>
        <script type="text/javascript" src="~/lib/dx/js/date.min.js"></script>
        <script src="~/lib/dx/js/dx.all.js"></script>

        <script src="~/lib/numeral/src/numeral.js"></script>
        <script src="~/js/loading.js"></script>
        <script src="~/js/plugins.js"></script>
        <script src="~/js/notifIt.js"></script>
        <script src="~/js/conciliador.js" asp-append-version="true"></script>
    </environment>
    <script>
        $(document).ready(function () {
            // $('#item-found').checkbox({
            //     label : 'Encontrado',
            //     class: 'lbl-matched',
            //     onchange : "filtrarTable(this)",
            //     value : 'found',
            // })


            formats = JSON.parse(localStorage.getItem('formats'));

            if (!formats) {
                formats = [
                    { value: "DD/MM/YYYY", text: "DD/MM/YYYY" },
                    { value: "DD/MM/YY", text: "DD/MM/YY" },
                    { value: "MM/DD/YYYY", text: "MM/DD/YYYY" },
                    { value: "MM/DD/YY", text: "MM/DD/YY" },
                    { value: "MM/YYYY", text: "MM/YYYY" },
                    { value: "MM/YY", text: "MM/YY" },
                ]
            }

            $('.select').selectize();

            $('#customFormat').selectize({
                options: formats,
                create: true,
                create: function (input) {
                    formats.push({ value: input, text: input })
                    localStorage.setItem('formats', JSON.stringify(formats))
                    return { value: input, text: input };
                }
            });

            $('#btnUpload').on('click', function () {

                if (!customFormat.value.length) {
                    $('#customFormat-selectized').parent().notification('Seleccione un formato de fecha');
                    return false;
                }

                var fileExtension = ['xls', 'xlsx'];
                var filename = $('#input-b2').val();
                if (filename.length == 0) {
                    alert("Por favor seleccione un archivo.");
                    return false;
                }
                else {
                    var extension = filename.replace(/^.*\./, '');
                    if ($.inArray(extension, fileExtension) == -1) {
                        alert("Seleccione un archivo excel valido.");
                        return false;
                    }
                }

                //$('.DataCB').show();
                var fdata = new FormData();
                var fileUpload = $("#input-b2").get(0);
                var files = fileUpload.files;
                fdata.append(files[0].name, files[0]);
                $($gridBanco).parent().loading();
                $.ajax({
                    type: "POST",
                    url: pathBase + 'procesosBanco/upLoadFile',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    data: fdata,
                    contentType: false,
                    processData: false,
                    success: function (response) {

                        var data = response.map(x => {
                            x['Fecha'] = moment(x._Fecha, customFormat.value).utc().format();
                            return x;
                        })

                        $($gridBanco).dxDataGrid("instance").option('dataSource', data);
                        showButtonConciliar();
                        $($gridBanco).parent().loading('stop');

                    },
                    error: function (e) {
                        $($gridBanco).parent().loading('stop');
                        $.notification(e.responseText);
                    }
                });
            });

            $('#btnDownloadInfo').on('click', function () {
                var Parameter = findEntity('Parameter');

                $($gridIecb).parent().loading();
                $('#dvDataInfo').html('');

                $.get(pathBase + `procesosBanco/GetRecibosAndTransferencies`, Parameter, result => {

                    $moneda = result.info.MonedaId == context.tipoMoneda.cordoba ? 'C$' : '$';

                    $('#dvDataInfo').append(
                        `<table style="height: 55px;width:100%">
                                    <tbody>
                                        <tr>
                                            <td>&nbsp;Banco:</td>
                                            <td>&nbsp;${result.info.Banco}</td>
                                            <td>&nbsp;Moneda</td>
                                            <td>&nbsp;${result.info.Moneda}</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;Descripcion</td>
                                            <td colspan="3">&nbsp;${result.info.Descripcion}</td>
                                        </tr>
                                    </tbody>
                                </table>`
                    );

                    $($gridIecb).dxDataGrid("instance").option('dataSource', result.data);
                }).always(function () {
                    showButtonConciliar();
                    $($gridIecb).parent().loading('stop');
                }).fail(function (c, x) {
                    $.notification(c.responseText);
                });
            });
        });
    </script>
}
