@model string
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrapper">
    <section class="error-wrapper">
        <h2>@Model</h2>
    </section>
</div>
       
