<div style="position: relative">
    <div class="text-center">
        <p style="font-size:18px;font-weight: bold;text-transform: uppercase">REPúBLICA DE NICARAGUA</p>
        <p style="font-size:13px">INSTITUTO DE PROTECCION Y SANIDAD AGROPECUARIA</p>
        <p style="font-size:12px">Km 5 ½  Carretea Norte, Puente Desnuvel 100 mts al este, 50 mts al Sur</p>
        <p style="font-size:12px">RUC No J0810000219519</p>
    </div>
</div>