@{
    ViewData["Title"] = "Home Page";
}
<environment include="Development">
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/animate.css" rel="stylesheet" />
</environment>
<environment exclude="Development">
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/animate.css" rel="stylesheet" />
</environment>

<div class="wrapper">
    <div class="ipsa-center">
        <img class="animated slideInDown" src="~/images/ipsa-logo.png" />
        <h2 class="ipsa-title animated slideInUp">Sistema de Información</h2>
        <div class="ipsa-content animated slideInUp">
            <p style="text-align:justify">                
                    El presente Portal es un servicio informático basado en tecnologías Web para la gestió internta, orientando al personal del instituto de Proteccion y Sanidad
                    Agropecuaria-IPSA y a sus unidades ejecutivas, éeste fye diseñado para establecer un canal de comunicación con los usuarios, integra aplicaciones y automatizar el forma sencilla
                    algunos procesos; de maneraque los sistemas operacionales de la instución disponibles en un solo lugar.                
            </p>

            <p style="text-align:justify">Para acceder a cualquier de estos servicios informáticos es necesario previamente estar registrado.</p>
        </div>
        
        <section class="panel animated slideInUp">
            <div class="panel-body">
                <ul class="summary-list">
                    <li>
                        <a asp-controller="ingresosegresoscajas" asp-action="create">
                            <i class=" fa fa-laptop text-primary"></i>
                            Recibo oficial de caja
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="fa fa-exchange text-info"></i>
                            Transferencias
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class=" fa fa-download text-muted"></i>
                            Depositos
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="fa fa-users text-success"></i>
                            Clientes
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="fa fa-life-ring text-danger"></i>
                            Servicios
                        </a>
                    </li>
                </ul>
            </div>
        </section>
       
    </div>        
</div>
