
@using mvcIpsa.Extensions
@{
    ViewData["Title"] = ViewBag.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var usr = this.User.GetServiceUser();
}
@section Styles
    {

<environment include="Development">
    <link href="~/lib/material-design-lite/material.css" rel="stylesheet" />
    <link href="~/css/selectize.css" rel="stylesheet">
    <link href="~/lib/dialog-polyfill/dialog-polyfill.css" rel="stylesheet" />
    <link href="~/css/loading.css" rel="stylesheet" />
    <link href="~/css/site.css" asp-append-version="true" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/lib/dx/css/dx.common.css" />
    <link rel="dx-theme" data-theme="generic.light" href="~/lib/dx/css/dx.light.css" />
    <link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" rel="stylesheet">
    <link href="~/css/notifIt.css" rel="stylesheet" />
</environment>
<environment exclude="Development">    
    <link href="~/lib/material-design-lite/material.min.css" rel="stylesheet" />
    <link href="~/css/selectize.css" rel="stylesheet">
    <link href="~/lib/dialog-polyfill/dialog-polyfill.css" rel="stylesheet" />
    <link href="~/css/loading.css" rel="stylesheet" />
    <link href="~/css/site.css" asp-append-version="true" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/lib/dx/css/dx.common.css" />
    <link rel="dx-theme" data-theme="generic.light" href="~/lib/dx/css/dx.light.css" />
    <link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" rel="stylesheet">
    <link href="~/css/notifIt.css" rel="stylesheet" />
</environment>
}
<style>
    .inbox-head {
        padding: 10px;
        background: #ffffff;
        color: #fff;
        border-radius: 0 4px 0 0;
        -webkit-border-radius: 0 4px 0 0;
        min-height: 20px;
    }

    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        padding-right: 3px;
        padding-left: 3px;
    }
    
    .text-size{
        font-weight: normal;
    }
    .canceled {
        background-color: #e91e633b
    }
</style>
@await Html.PartialAsync("_Movimientos", usr)


@section Scripts
    {
<environment include="Development">
    <script src="~/js/selectize.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/plugins.js" asp-append-version="true"></script>
    <script src="~/js/notify.js"></script>
    <script src="~/lib/moment/moment.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/lib/dialog-polyfill/dialog-polyfill.js"></script>
    <script src="~/lib/material-design-lite/material.min.js"></script>

    <script src="~/lib/dx/js/cldr.min.js"></script>
    <script src="~/lib/dx/js/cldr.min.js"></script>
    <script src="~/lib/dx/js/event.min.js"></script>
    <script src="~/lib/dx/js/supplemental.min.js"></script>
    <script src="~/lib/dx/js/unresolved.min.js"></script>
    <script type="text/javascript" src="~/lib/dx/js/globalize.min.js"></script>
    <script type="text/javascript" src="~/lib/dx/js/message.min.js"></script>
    <script type="text/javascript" src="~/lib/dx/js/number.min.js"></script>
    <script type="text/javascript" src="~/lib/dx/js/currency.min.js"></script>
    <script type="text/javascript" src="~/lib/dx/js/date.min.js"></script>
    <script src="~/lib/dx/js/jszip.min.js"></script>
    <script src="~/lib/dx/js/dx.all.js" asp-append-version="true"></script>

    <script src="~/js/notifIt.js"></script>
    <script src="~/js/loading.js"></script>
    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script src="~/lib/bootstrap-datepicker/dist/locales/bootstrap-datepicker.es.min.js"></script>
    <script src="~/lib/numeral/src/numeral.js"></script>
</environment>
<environment exclude="Development">

    <script src="~/js/selectize.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/plugins.js" asp-append-version="true"></script>
    <script src="~/js/notify.js"></script>
    <script src="~/lib/moment/moment.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/lib/dialog-polyfill/dialog-polyfill.js"></script>
    <script src="~/lib/material-design-lite/material.min.js"></script>

    <script src="~/lib/dx/js/cldr.min.js"></script>
    <script src="~/lib/dx/js/cldr.min.js"></script>
    <script src="~/lib/dx/js/event.min.js"></script>
    <script src="~/lib/dx/js/supplemental.min.js"></script>
    <script src="~/lib/dx/js/unresolved.min.js"></script>
    <script type="text/javascript" src="~/lib/dx/js/globalize.min.js"></script>
    <script type="text/javascript" src="~/lib/dx/js/message.min.js"></script>
    <script type="text/javascript" src="~/lib/dx/js/number.min.js"></script>
    <script type="text/javascript" src="~/lib/dx/js/currency.min.js"></script>
    <script type="text/javascript" src="~/lib/dx/js/date.min.js"></script>
    <script src="~/lib/dx/js/jszip.min.js"></script>
    <script src="~/lib/dx/js/dx.all.js" asp-append-version="true"></script>

    <script src="~/js/notifIt.js"></script>
    <script src="~/js/loading.js"></script>
    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script src="~/lib/bootstrap-datepicker/dist/locales/bootstrap-datepicker.es.min.js"></script>
    <script src="~/lib/numeral/src/numeral.js"></script>
</environment>
    <script>
        var dialog = document.querySelector('dialog');
        dialog.querySelector('.close').addEventListener('click', function () {
            dialog.close();
        });

        var estados = {           
            activo: 1,
            canceled: 2,
            
        }

        $(document).ready(function () {
            var now = moment();
            $('.datepicker')
                .val(now.format("DD-MM-YYYY"))
                .datepicker({
                    autoclose: true,
                    format: 'dd-mm-yyyy',
                    language: 'es'
                });

            $('select').selectize();

        });

        var $gridMov = '#dxGridMovimientos';
        var movimientos = new DevExpress.data.DataSource({
            store: {
                type: 'array',
                data: [],
                key: 'referencia'
            }
        });

        $($gridMov).dxDataGrid({
            dataSource: movimientos,
            columnsAutoWidth: true,
            headerFilter: {
                visible: true
            },
            filterRow: {
                visible: true,
                applyFilter: "auto"
            },
            columns: [
                {
                    dataField : 'Id',
                    caption: 'Codigo',
                    cellTemplate: function (container, options) {
                        $("<div>")
                            .append(`<a class="dx-link dx-link-edit dx-icon-edit" title="Edit" href="${pathBase}IngresosEgresosBanco/edit/${options.value}">${options.text.pad(6)}</a>`)
                            .appendTo(container);
                    }
                },{
                    dataField: 'TipoDocumento',
                    caption: 'Documento'
                },{
                    dataField: 'TipoMovimiento',
                    caption: 'Movimiento'
                },{
                    dataField: 'FechaRegistro',
                    caption: 'Fecha',
                    dataType: "date",
                    format: "dd/MM/yyyy"
                }, {
                    dataField: 'Monto',
                    caption: 'Monto',
                    cellTemplate: function (container, options) {
                        $("<div>")
                            .append(numeral(options.value).format('0,0.00'))
                            .appendTo(container);
                    }
                    //numeral(data.value).format('$0,0.0000')
                }, 'Estado', 'Username', {
                    caption: "",
                    dataField: "Id",
                    cellTemplate: function (container, options) {
                        $("<div>")
                            .append(`<a class="href-button text-size" href="${pathBase}IngresosEgresosBanco/details/${options.value}"> Detalles</a> |<a class="href-button text-size text-danger" style="color:red" onclick="anular(${options.value});"> Anular</a>`)
                            .appendTo(container);
                    }
                }
            ],
            onRowPrepared: function (info) {
                if (info.rowType != 'header' && info.rowType != 'totalFooter' && info.rowType != 'filter') {
                    if (info.data.EstadoId == estados.canceled)
                        info.rowElement.addClass('canceled');
                }
            },
            summary: {
                totalItems: [{
                    column: "Monto",
                    summaryType: "sum",
                    customizeText: function (data) {
                        return 'Total: ' + numeral(data.value).format('$0,0.00');
                    }

                }]
            },
        }).dxDataGrid("instance");

        var buscar = () => {
            var Parameter = findEntity('Parameter');

            if (Parameter.Referencia.length > 0)
                Parameter.searchByNum = true


            $($gridMov).parent().loading();
            $.get(pathBase + `ingresosegresosbanco/getList`, Parameter, data => {
                $($gridMov).dxDataGrid("instance").option('dataSource', data.Result);
            }).always(function () {
                $($gridMov).parent().loading('stop');
            });
        }

        var botonclick = false;
        var anular = elemt => {
            if (!botonclick) {
                notif_confirm({
                    'message': 'Esta seguro de anular?',
                    'textaccept': 'Si',
                    'textcancel': 'No',
                    'fullscreen': true,
                    'callback': function (choice) {
                        if (choice == true) {
                            process(elemt);
                        }
                    }
                })
            }
            return botonclick;
        }

        var process = id => {       
            dialog.showModal();
            MotivoAnular.value = '';
            idmovimiento.value = id;
        }

        var continuar = id => {
            if (MotivoAnular.textLength == 0) {
                $(MotivoAnular).notification('Por favor ingrese un motivo valido');
            } else {
                $.ajax({
                    type: "POST",
                    url: pathBase + 'api/banco/anular/' + id,
                    data: {
                        id: id, motivo: MotivoAnular.value
                    },
                }).done(function () {
                    dialog.close();
                    buscar();
                }).fail(function (err) {
                    $.notification(err.responseText);
                    dialog.close();
                });
            }
        }

    </script>
}