@model mvcIpsa.DbModel.ReporteFirma

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>ReporteFirma</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Reporte" class="control-label"></label>
                <input asp-for="Reporte" class="form-control" />
                <span asp-validation-for="Reporte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsernameElaborado" class="control-label"></label>
                <input asp-for="UsernameElaborado" class="form-control" />
                <span asp-validation-for="UsernameElaborado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsernameRevisado" class="control-label"></label>
                <input asp-for="UsernameRevisado" class="form-control" />
                <span asp-validation-for="UsernameRevisado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsernameAprobado" class="control-label"></label>
                <input asp-for="UsernameAprobado" class="form-control" />
                <span asp-validation-for="UsernameAprobado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsernameAutorizado" class="control-label"></label>
                <input asp-for="UsernameAutorizado" class="form-control" />
                <span asp-validation-for="UsernameAutorizado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

