@{
    ViewData["Title"] = "Firmas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
    {

    <environment include="Development">
        <link rel="stylesheet" type="text/css" href="~/lib/dx/css/dx.common.css" />
        <link rel="dx-theme" data-theme="generic.light" href="~/lib/dx/css/dx.light.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" type="text/css" href="~/lib/dx/css/dx.common.css" />
        <link rel="dx-theme" data-theme="generic.light" href="~/lib/dx/css/dx.light.css" />
    </environment>
}
<style>
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        padding-right: 3px;
        padding-left: 3px;
    }
</style>

<div class="wrapper">
    <div class="panel">
        <div class="panel-footer">
            <div class="dx-viewport">
                <div class="demo-container">
                    <div id="dxGridFirmas"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <environment include="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/dx/js/cldr.min.js"></script>
        <script src="~/lib/dx/js/event.min.js"></script>
        <script src="~/lib/dx/js/supplemental.min.js"></script>
        <script src="~/lib/dx/js/unresolved.min.js"></script>
        <script type="text/javascript" src="~/lib/dx/js/globalize.min.js"></script>
        <script type="text/javascript" src="~/lib/dx/js/message.min.js"></script>
        <script type="text/javascript" src="~/lib/dx/js/number.min.js"></script>
        <script type="text/javascript" src="~/lib/dx/js/currency.min.js"></script>
        <script src="~/lib/dx/js/dx.all.js" asp-append-version="true"></script>

        <script src="~/js/aspnet.js"></script>
        <script src="~/lib/dx/js/date.min.js"></script>

    </environment>
    <environment exclude="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/dx/js/cldr.min.js"></script>
        <script src="~/lib/dx/js/event.min.js"></script>
        <script src="~/lib/dx/js/supplemental.min.js"></script>
        <script src="~/lib/dx/js/unresolved.min.js"></script>
        <script type="text/javascript" src="~/lib/dx/js/globalize.min.js"></script>
        <script type="text/javascript" src="~/lib/dx/js/message.min.js"></script>
        <script type="text/javascript" src="~/lib/dx/js/number.min.js"></script>
        <script type="text/javascript" src="~/lib/dx/js/currency.min.js"></script>
        <script src="~/lib/dx/js/dx.all.js" asp-append-version="true"></script>

        <script src="~/js/aspnet.js"></script>
        <script src="~/lib/dx/js/date.min.js"></script>
    </environment>
    <script>

        var procesos = new DevExpress.data.DataSource({
            store: {
                type: 'array',
                data: [],
                key: 'Referencia'
            }
        });

        $("#dxGridFirmas").dxDataGrid({
            dataSource: procesos,
            columnsAutoWidth: true,
            allowColumnResizing: true,
            showRowLines: true,
            rowAlternationEnabled: true,
            headerFilter: {
                visible: true
            },
            filterRow: {
                visible: true,
                applyFilter: "auto"
            },
            keyExpr: "Reporte",
            editing: {
                mode: "popup",
                allowUpdating: true,
                popup: {
                    title: "Registrar firmas",
                    showTitle: true,
                    width: 700,
                    height: 400,
                    position: {
                        my: "top",
                        at: "top",
                        of: window
                    }
                }
            },
            onRowUpdated: function (e) {

                var p = e.data;
                p['Reporte'] = e.key;

                $.post(pathBase + `ReporteFirmas/update`, p, function () {
                    loadGrid();
                });
            },
            columns: [{
                caption: "Nombre del reporte",
                dataField: "Reporte",
                allowEditing: false ,
                width:200
            },{               
                dataField: "Ubicacion",
                width:100,
                allowEditing: false ,
            }, {
                caption: "Elaborado Por",
                dataField: "UsernameElaborado",
                validationRules: [{
                    type: "required",
                    message: "Este campo es requerido"
                }]
            }, {
                caption: "Mostrar",
                dataField: "MostrarElaborado",
                dataType: "boolean"
            }, {
                caption: "Revisado Por",
                dataField: "UsernameRevisado",
                validationRules: [{
                    type: "required",
                    message: "Este campo es requerido"
                }]
            }, {
                caption: "Mostrar",
                dataField: "MostrarRevisado",
                dataType: "boolean"
            }, {
                caption: "Aprobado Por",
                dataField: "UsernameAprobado",
                validationRules: [{
                    type: "required",
                    message: "Este campo es requerido"
                }]
            }, {
                caption: "Mostrar",
                dataField: "MostrarAprobado",
                dataType: "boolean"
            }, {
                caption: "Autorizado Por",
                dataField: "UsernameAutorizado",
                validationRules: [{
                    type: "required",
                    message: "Este campo es requerido"
                }]
            }, {
                caption: "Mostrar",
                dataField: "MostrarAutorizado",
                dataType: "boolean"
            }
            ],
            showBorders: true,
        });

        $(document).ready(function () {
            loadGrid();
        })

        function loadGrid() {

            $.get(pathBase + `api/catalogs/ReporteFirma`, null, data => {
                $("#dxGridFirmas").dxDataGrid("instance").option('dataSource', data);
            }).always(function () {
                //$($gridMov).parent().loading('stop');
            });
        }

    </script>
}
