@using mvcIpsa.DbModel
@model Role
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper">
    <section class="panel animated slideInLeft">
        <header class="panel-heading">
            Crear un permiso
        </header>
        <form method="post" asp-controller="Role" asp-action="Create" class="animated bounceInRight">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-4">
                        <div class="form-group">
                            <label asp-for="Name"></label>
                            <div class="iconic-input">
                                <i class="fa fa-user"></i>
                                <input asp-for="Name" class="form-control ipsa-requeried" placeholder="Nombre del permiso" data-validation="La contraseña es requerida" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description"></label>
                            <div class="iconic-input">
                                <i class="fa fa-user"></i>
                                <input asp-for="Description" class="form-control ipsa-requeried" placeholder="Descripcion" data-validation="La contraseña es requerida" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                        <button class="btn btn-success btn-block" type="submit"><i class="fa fa-check"></i> Guardar </button>
                    </div>
                </div>
            </div>
            <button asp-action="index" class="btn btn-default"><span class="fa fa-arrow-left"></span> Regresar a la lista </button>
        </form>
    </section>
</div>

