@model mvcIpsa.DbModel.Role
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<environment include="Development">
    <link href="~/css/animate.css" rel="stylesheet">
</environment>
<environment exclude="Development">
    <link href="~/css/animate.css" rel="stylesheet">
</environment>
<div class="wrapper">
    <section class="panel animated slideInRight">
        <header class="panel-heading">
            Eliminar permiso
        </header>
        <div class="panel-body">
            <h3>Estas seguro que quieres eliminar ese permiso?</h3>
            <div>
                
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                </dl>                
            </div>
        </div>
        <div class="panel-footer">
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                
                <a asp-action="Index">Regresar</a>|<input type="submit" value="Delete" class="btn btn-danger" />
            </form>
        </div>
</section>
</div>
       
        
