@using mvcIpsa.DbModel
@model IngresosEgresosCaja
@{
    ViewData["Title"] = "Crear recibo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles
{
<environment include="Development">
    <link href="~/css/selectize.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/site.css" asp-append-version="true" rel="stylesheet">
    <link href="~/lib/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet">
    <link href="~/lib/material-design-lite/material.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" rel="stylesheet">
</environment>
<environment exclude="Development">
        <link href="~/css/selectize.css" rel="stylesheet">
        <link href="~/css/animate.css" rel="stylesheet">
        <link href="~/css/site.css" asp-append-version="true" rel="stylesheet">
        <link href="~/lib/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet">
        <link href="~/lib/material-design-lite/material.css" rel="stylesheet" />
        <link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" rel="stylesheet">
</environment>
}
<div class="wrapper">
    <div class="chat-room">
        <aside class="mid-side">
            <div class="chat-room-head">
                <h3>Recibo de caja</h3>
                @*<div action="#" class="pull-right position">                   
                    <a href="#" class="pull-right btn btn-default">+ Buscar un recibo</a>
                </div>*@
            </div>
            <div class="room-desk">               
                <div class="room-box">
                    <form method="post" asp-action="Create">
                        <input type="hidden" asp-for="Id" class="master" />
                        <div class="panel-body">
                            <div class="row">
                                <div>
                                    <div class="col-lg-12">
                                        <div class="form-group col-lg-3">
                                            <label asp-for="FechaProceso" class="control-label"></label>
                                            <input data-required="true" data-error-message="Seleccione la fecha de proceso" type="text" asp-for="FechaProceso" class="form-control master datepicker" />
                                            <span asp-validation-for="FechaProceso" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-lg-3">
                                            <label asp-for="NoOrdenPago" class="control-label"></label>
                                            <input asp-for="NoOrdenPago" class="form-control master" />
                                            <span asp-validation-for="NoOrdenPago" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-lg-3">
                                            <label asp-for="TipoMonedaId" class="control-label"></label>
                                            <select asp-for="TipoMonedaId" class="select master" asp-items="ViewBag.TipoMonedaId"></select>
                                            <span asp-validation-for="TipoMonedaId" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-lg-3">
                                            <label asp-for="TipoIngresoId" class="control-label"></label>
                                            <select data-required="true" data-error-message="Seleccione el tipo de ingreso" asp-for="TipoIngresoId" class="select master" asp-items="ViewBag.TipoIngresoId"></select>
                                            <span asp-validation-for="TipoIngresoId" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">

                                    </div>

                                    <div class="col-lg-12">

                                    </div>

                                    <div class="col-lg-12">
                                        <div class="form-group col-lg-3">
                                            <label class="control-label">Identificación</label>
                                            <select class="master" data-error-message="Seleccione un cliente" asp-for="ClienteId"><option value="">Seleccione</option></select>
                                        </div>
                                        <div class="form-group col-lg-3">
                                            <label asp-for="TipoCleinteId" class="control-label"></label>
                                            <select asp-for="TipoCleinteId" class="select master" asp-items="ViewBag.TipoCliente"></select>
                                            <span asp-validation-for="TipoCleinteId" class="text-danger"></span>


                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label class="control-label">Beneficiario</label>
                                            <input data-required="true" data-error-message="Ingrese un beneficiario" asp-for="Beneficiario" class="form-control master" />
                                        </div>
                                        <div class="form-group col-lg-12">
                                            <label asp-for="Concepto" class="control-label"></label>
                                            <input data-required="true" data-error-message="Ingrese el concepto" asp-for="Concepto" class="form-control master" />
                                            <span asp-validation-for="Concepto" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-lg-3">
                                            <label asp-for="Muestra" class="control-label"></label>
                                            <input asp-for="Muestra" class="form-control master" />
                                            <span asp-validation-for="Muestra" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                        
                        <section class="panel" style="margin: 20px 28px;box-shadow: 6px 6px 15px 2px rgba(0, 0, 0, 0.05);">
                            <header class="panel-heading tab-bg-dark-navy-blue ">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a data-toggle="tab" href="#services"><span class="fa fa-list"></span> Servicios</a>
                                    </li>
                                    <li class="">
                                        <a data-toggle="tab" href="#detailsPay"><span class="fa fa-money"></span> Detalle de pago</a>
                                    </li>
                                </ul>
                            </header>
                            <div class="panel-body">
                                <div class="tab-content">
                                    <div id="services" class="tab-pane active">
                                        <div class="panel-body">
                                            <section class="panel">
                                                <div class="col-sm-12">
                                                    <table id="servicios" class="table table-striped table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th class="w20">Tipo de servicio</th>
                                                                <th>Precio</th>
                                                                <th>Cantidad </th>
                                                                <th>Dolares</th>                                                                
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                        <tfoot>
                                                            <tr>
                                                                <td colspan="10">

                                                                    <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect btn-primary w100" onclick="addNewRow();"><span class="fa fa-plus"></span> Agregar otro servicio</button>
                                                                </td>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                    <div id="detailsPay" class="tab-pane">
                                        <div class="panel-body">
                                            <section class="panel">
                                                <div class="col-sm-12">
                                                    <table id="referencias" class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>Fecha</th>
                                                                <th>Tipo pago</th>
                                                                <th>Banco</th>
                                                                <th>Referencia</th>
                                                                <th>Efectivo</th>
                                                                <th>Cheque</th>
                                                                <th>Minuta</th>
                                                                <th>Transf</th>
                                                                <th>Tipo Cambio</th>
                                                                <th>$</th>
                                                                <th>C$</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                        <tfoot>
                                                            <tr>
                                                                <th></th>
                                                                <td colspan="8"><button type="button" id="btnAddReference" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  btn-block btn-primary">Agregar una referencia</button></td>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 invoice-block pull-right">
                                    <ul class="unstyled amounts amountsDetalle">
                                        <li class="text-left"><strong>Detalle de pago</strong></li>
                                        <li><span class="pull-left"> Total Dólares : </span><strong>0.00</strong></li>
                                        @*<li><span class="pull-left">Total Córdobas : </span><strong>0.00</strong></li>*@
                                    </ul>
                                </div>
                                <div class="col-lg-4 invoice-block pull-left">
                                    <ul class="unstyled amounts amountsServicio">
                                        <li class="text-left"><strong>Servicios</strong></li>
                                        <li><span class="pull-left"> Total Dólares : </span><strong>0.00</strong></li>
                                        @*<li><span class="pull-left">Total Córdobas : </span><strong>0.00</strong></li>*@
                                    </ul>
                                </div>
                            </div>
                        </section>
                        <div class="panel-footer">
                            <div class="text-center invoice-btn">
                                <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pull-left" asp-action="index"><span class="fa fa-arrow-left"></span> Regresar</a>
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect btn-success" type="button" onclick="save(this);"><span class="fa fa-check"></span> Guardar </button>
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect btn-default" id="print" style="display: none" type="button" onclick="printReport(this);"><span class="fa fa-file"></span> Imprimir </button>
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect btn-default pull-right" type="button" onclick="newRecibo();"><span class="fa fa-plus"></span> Nuevo </button>
                            </div>
                        </div>
                    </form>
                </div>        
            </div>          
        </aside>
        <aside class="right-side">
            <div class="user-head">
                <h3>Resumen</h3>
            </div>         
            <ul class="chat-available-user">
                <li>
                    <a href="#">
                        <i class="fa fa-circle text-success"></i>
                        No Recibo:
                        <span class="text-muted">@ViewBag.NumRecibo</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-circle text-danger"></i>
                        Estado :
                        <span class="text-muted">Pendiente</span>
                    </a>
                </li>                              
            </ul>
        </aside>
    </div>
</div>
@section Scripts
{
<environment include="Development">
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/selectize.js"></script>
    <script src="~/js/bootstrap-editable.min.js"></script>
    <script src="~/lib/numeral/src/numeral.js"></script>
    <script src="~/lib/material-design-lite/material.js"></script>
    <script src="~/js/notify.js"></script>
    <script src="~/lib/moment/moment.js"></script>  
    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script src="~/lib/bootstrap-datepicker/dist/locales/bootstrap-datepicker.es.min.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/selectize.js"></script>
    <script src="~/js/bootstrap-editable.min.js"></script>
    <script src="~/lib/numeral/src/numeral.js"></script>
    <script src="~/lib/material-design-lite/material.js"></script>
    <script src="~/js/notify.js"></script>
    <script src="~/lib/moment/moment.js"></script>
    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script src="~/lib/bootstrap-datepicker/dist/locales/bootstrap-datepicker.es.min.js"></script>
</environment>


    <script>
       
        var referencias = [];
        var detalle = [];  
        
        $('#btnAddReference').click(function () {
            $('#referencias').addNewReference();
        });        

        var now = moment();
        $('.datepicker')
            .val(now.format("DD-MM-YYYY"))
            .datepicker({
                autoclose: true,
                format: 'dd-mm-yyyy',
                language: 'es'
         });

        var servicios = @Html.Raw(Json.Serialize(ViewBag.servicios, new Newtonsoft.Json.JsonSerializerSettings { MaxDepth = 1, ReferenceLoopHandling = Newtonsoft.Json.ReferenceLoopHandling.Ignore }));
        var clientes = @Html.Raw(Json.Serialize(ViewBag.clientes, new Newtonsoft.Json.JsonSerializerSettings { MaxDepth = 1, ReferenceLoopHandling = Newtonsoft.Json.ReferenceLoopHandling.Ignore }));
             
        var NumRecibo = @ViewBag.NumRecibo;


        $(document).ready(function () {
            addNewRow();
            var selectClient = function () {
               
                return function () {
                    var selectize = $cliente[0].selectize;
                    $.map(selectize.items, function (value) {   

                        var _selectize = $select[2].selectize;
                        _selectize.setValue(selectize.options[value].idTipo, false);
                     
                        $('#Beneficiario').val(selectize.options[value].nombre);
                    });
                };
            };
            var $cliente = $('#ClienteId').selectize({
                valueField: 'Id',
                labelField: 'identificacion',
                searchField: 'nombre',
                options: clientes,
                render: {
                    option: function (item, escape) {
                        return '<div>' +
                            '<span class="title">' +
                            '<span class="cedulaCliente"><i class="fa fa-user"></i> ' + escape(item.identificacion) + '</span>' +
                            '</span>' +
                            '<p class="nombreCliente">' + escape(item.nombre) + '</p>' +
                            '</div>';
                    }
                },
                onChange: selectClient()
                
            });
        });

        function addNewRow() {           
            $('#servicios').addNewServicio();         
        }

        var $select ={}
        var $select = $('.select').selectize();
    </script>

    <script>
      

        var save = (b) => {
            if (fieldsIsValid('master')) {
                calculate();
                calcularDetallePago();  

                var master = findEntity('master');
                master['NumRecibo'] = NumRecibo;
                var iECajaViewModel = { master: master, details: detalle, referencias: referencias };  

                var isValid = validateModel(master);
                if (isValid) {
                    $(b).saving();
                    $.ajax({
                        type: "POST",
                        url: pathBase + "ingresosEgresosCajas/create",
                        data: iECajaViewModel,
                        dataType: "json",
                        error: function (err) {
                            $(b).html('<span class="fa fa-check"></span> Guardar ');
                            $.notification(err.responseJSON);
                        },
                        success: function (response) {
                            $(b).hide();
                            $.notification('Se guardó correctamente el recibo ' + response.numRecibo , 'success');     
                            Id.value = response.id;
                            $('#print').show();                       
                        },
                    });
                }
                
            }
            
        }

        
    </script>

}

