@model IEnumerable<mvcIpsa.Models.CajaViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles
    {
    <environment include="Development">
        <link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" rel="stylesheet">
        <link href="~/lib/material-design-lite/material.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">      
        <link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" rel="stylesheet">
        <link href="~/lib/material-design-lite/material.css" rel="stylesheet" />
    </environment>
}
<div class="wrapper">
    <section class="panel animated slideInUp">
        <header class="panel-heading">
            Lista de recibos de caja
        </header>
        <div class="panel-body">
            <div class="form-inline">
                <div class="form-group">
                    <label for="sinceDate" class="control-label">Desde :</label>
                    <input type="text" class="form-control datepicker CajaParameter" id="Desde" placeholder="Fecha inicio">
                </div>
                <div class="form-group mx-sm-3">
                    <label for="sinceDate" class="control-label">Hasta :</label>
                    <input type="text" class="form-control datepicker CajaParameter" id="Hasta" placeholder="Fecha inicio">
                </div>
                <div class="form-group mx-sm-3">
                    <label for="sinceDate" class="control-label">Estado :</label>
                    <select class="form-control CajaParameter" id="Estado" asp-items="ViewBag.Nestado"><option value="" >Todos</option></select>
                </div> 
                <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect"  id="btnSearch"><span class="fa fa-filter"></span> Filtrar</button>
                <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent pull-right" asp-action="create"><span class="fa fa-plus"></span> Crear nuevo recibo</a>
            </div>
                
            <table id="recibo" class="table table-hover">

            </table>
        </div>
    </section>
</div>

@section Scripts
    {
    <environment include="Development">
        <script src="~/js/site.js"></script>
        <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
        <script src="~/lib/numeral/src/numeral.js"></script>
        <script src="~/lib/moment/moment.js"></script>  
        <script src="~/lib/material-design-lite/material.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.js"></script>
        <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
        <script src="~/lib/numeral/src/numeral.js"></script>
        <script src="~/lib/moment/moment.js"></script>
        <script src="~/lib/material-design-lite/material.js"></script>
    </environment>
    <script>
        $('#btnSearch').click(function () {           
            init(1);
        });
        $(document).ready(function () {    
            var now = moment();
            $('.datepicker')
                .val(now.format("DD-MM-YYYY"))
                .datepicker({
                    autoclose: true,
                    format: 'dd-mm-yyyy'
                });
            init(1);
        });
                

        var init = pag => { 
            $('#btnSearch').searching();
            var data = findEntity('CajaParameter');
            data['Page'] = pag;
            data['Rows'] = 5;          
            
            var f = function (response) {                
                $('#recibo').datatable({                    
                    columnsHead: ['', 'Número', 'Tipomov', 'Recibo', 'Fecha de Proceso', 'Tipo pago', 'Monto', 'Tipo Moneda', 'Tipo Ingreso', 'Usuario', 'Fecha de creacion'],
                    columnsDisplay: [{ type: 'button', buttons: ['edit', 'remove'] }, 'id', 'tipomov', 'numrecibo', 'fechaProceso', 'tipopago', 'monto', 'tipomoneda', 'tipoingreso', 'username', 'fechacreacion'],
                    data: response.result,
                    pag: pag,
                    rows: data.Rows,
                    totalRows: response.count,
                    controller: 'ingresosegresoscajas',
                    id: 'id',
                    columnsWithFormatDate: ['fechaProceso', 'fechacreacion'],
                    columnsWithFormatMoney: ['monto']
                });
                $('#btnSearch').reset();
            }
            context.ajax.get('IngresosEgresosCajas/GetList', data, f);

        }
    </script>
}