@model string
@{
    ViewData["Title"] = "Conciliacion ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrapper">
    <section class="error-wrapper">      
        <h1>Error!</h1>
        <h2>Error en la petición</h2>
        <p class="text-danger">@Model</p>
        <br/>
        <a asp-action="Index">Ir al iniciio</a>
    </section>
</div>
